<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My Requested Products</title>
    <link rel="icon" href="/img/page_icon.png"/>
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css"/>
    <link rel="stylesheet" href="/css/home_page/header_and_nav.css"/>
    <link rel="stylesheet" href="/css/personal/my_require_product.css"/>
    <script src="/js/jquery-1.3.2.min.js"></script>
    <script src="/js/home/header_model_js.js"></script>
    <script>
        $(function () {
            $('.update_publish').click(function () {
                var id = $(this).attr('value');
                window.location.href='/modified_require_product.do?id='+id;
            });
            $('.delete_publish').click(function () {
                var r = confirm("Are you sure you want to delete?")
                if (r == true) {
                    var id = $(this).attr('value');
//                    alert(id);
                    window.location.href="/deleteUserWant.do?id="+id;
                }
            });
        });
    </script>
</head>
<body>
<header th:include="header :: copy"></header>
<div th:include="short_nav_show :: short_nav_show" class="short_nav_show"></div>
<nav th:include="my_nav :: my_nav" class="my_nav"></nav>
<div th:include="personal_nav :: personal_nav" class="personal_nav"></div>
<div class="temp_content">
    <div class="require_content_div">
        <div class="require_one_part" id="1" th:each="o:${userWant}">
            <div class="info-row">
                <span class="what_info">Product Name:</span>
                <span class="info_content" th:text="${o.name}">iPhone 6s</span>
            </div>
            <div class="info-row">
                <span class="what_info">Quantity:</span>
                <span class="info_content" th:text="${o.quantity}">3</span>
            </div>
            <div class="info-row">
                <span class="what_info">Unit Price:</span>
                <span class="info_content" th:text="${o.price}">20.00</span>
            </div>
            <div class="info-row">
                <span class="what_info">Details:</span>
                <span class="info_content" th:text="${o.remark}">This is a product, contact phone 1111111111</span>
            </div>
            <div class="info-row">
                <span class="what_info">Category:</span>
                <span class="info_content" th:text="${o.sort}">Digital Technology-Mobile-Apple</span>
            </div>
            <div class="delete_and_update">
                <button class="update_publish" th:value="${o.id}" title="Edit Request">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="delete_publish" th:value="${o.id}" title="Delete Request">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="pagination_div">
        <a class="pagination_lt">&lt;</a>
        <ul>
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>4</a></li>
            <li><a>3</a></li>
            <li><a>5</a></li>
        </ul>
        <a class="pagination_gt">&gt;</a>
    </div>
   
</div>
 <footer>
        <p>Copyright © 2017.Company name All rights reserved.<a href="/"></a></p>
    </footer>
</body>
</html>