<div class="personal_nav" th:fragment="personal_nav">
    <ul>
        <li><a href="personal_info.do">Personal Info</a></li>
        <li><a href="/publish_product.do">Publish Product</a></li>
        <li><a href="/require_product.do">Publish Request</a></li>
        <li><a href="/shopping_cart.do">My Cart</a></li>
        <li><a href="/my_publish_product_page.do">My Published Products</a></li>
        <li><a href="/my_require_product_page.do">My Requested Products</a></li>
        <li><a class="login_out" href="/logout.do">Logout</a></li>
    </ul>
</div>