<div class="short_nav_show" th:fragment="short_nav_show">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/mall_page.do">Mall</a></li>
        <li><a href="/require_mall.do">Request Mall</a></li>
        <!--<li><a href="/publish_product">发布商品</a></li>-->
        <!--<li><a href="/require_product">发布求购信息</a></li>-->
        <!--<li><a href="/shopping_cart">我的购物车</a></li>-->
        <li><a href="#">Feedback & Suggestions</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</div>